/* HomePage.css */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2개의 컬럼을 가진 그리드 레이아웃 */
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(to right, #dbe9f8, #fcefee, #ffffff);
    color: #333;
    text-align: left;
}

.content {
    grid-column: 1 / span 1; /* 첫 번째 열에 배치 */
}

.image-wrapper {
    grid-column: 2 / span 1; /* 두 번째 열에 배치 */
    margin-bottom: 70px; /* 위 여백 조정 */
    margin-left: 100px; /* 아래 여백 조정 */
}


h1 {
    margin-top: 15px; /* Adjust top margin of h1 for positioning */
    margin-bottom: 20px; /* Adjust bottom margin of h1 for spacing */
    margin-left: 100px; /* Adjust left margin of h1 for positioning */
    font-size: 6rem;
}

.content1 {
    grid-column: 1 / span 1; /* 첫 번째 열에 배치 */
    margin-top: 0px; /* 위 여백 조정 */
    margin-bottom: 30px; /* 아래 여백 조정 */
    margin-left: 110px;
    font-size: 1.9rem; /* 글자 크기 조정 */
    color: #666; /* 글자 색상 조정 */
    grid-row: 2 / span 1; /* 두 번째 행에 배치 */
}

.link-button {
    margin-top: 35px;
    margin-bottom: 90px;
    margin-left: 240px;
    padding: 15px 10px; /* 조정된 패딩 값 */
    text-decoration: none;
    color: white;
    background-color: #333; /* Match with your gradient */
    border: none;
    border-radius: 10px; /* 더 큰 border-radius 값 */
    transition: background-color 0.3s ease;
    font-size: 20px; /* 더 큰 글자 크기 */
    width: 240px; /* 예시로 너비를 250px로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    display: inline-block; /* inline-block으로 설정하여 너비 적용 */
    line-height: 1; /* 텍스트의 줄 간격을 1로 설정 */
}



.link-button:hover {
    background-color: #4d4d4d; /* Add hover effect */
    color: white
}

.img {
    margin-left: 70px; /* 이미지와 다른 컨텐츠 사이의 간격 조정 */
    max-width: 150%; /* 이미지의 최대 너비 설정 (선택 사항) */
    width: 700px;
}

.creators{
    text-align: center;
    margin-left: 68px;
    color: rgb(93, 93, 93);
}