/* 3_LoadingPage.css */
.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .progress {
    height: 20px;
    background-color: #4caf50;
    width: 0%;
    transition: width 1s ease;
  }
  