/* HomePage.css */

.body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(to right, #dbe9f8, #fcefee, #ffffff);
    color: #333;
    text-align: left;
}

.h1 {
    margin-top: 20px; /* Adjust top margin of h1 for positioning */
    margin-bottom: 30px; /* Adjust bottom margin of h1 for spacing */
    margin-left: 50px; /* Adjust left margin of h1 for positioning */
    font-size: 3rem;
    color: black;
}

.content1 {
    margin-top: 20px; /* 위 여백 조정 */
    margin-bottom: 40px; /* 아래 여백 조정 */
    font-size: 1.5rem; /* 글자 크기 조정 */
    color: #666; /* 글자 색상 조정 */
    grid-row: 2 / span 1; /* 두 번째 행에 배치 */
}

.container {
    align-items: center;
}

.link-button {
    margin-top: 0px;
    margin-bottom: 90px;
    margin-left: 200px;
    padding: 15px 10px; /* 조정된 패딩 값 */
    text-decoration: none;
    color: black;
    background-color: #A0C0F2; /* Match with your gradient */
    border: none;
    border-radius: 8px; /* 더 큰 border-radius 값 */
    transition: background-color 0.3s ease;
    font-size: 20px; /* 더 큰 글자 크기 */
    width: 240px; /* 예시로 너비를 250px로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    display: inline-block; /* inline-block으로 설정하여 너비 적용 */
    line-height: 1; /* 텍스트의 줄 간격을 1로 설정 */
}



.link-button:hover {
    background-color: #fcefee; /* Add hover effect */
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .image-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }