body {
    height: 100vh;
    padding: 20px;
    background: linear-gradient(to right, #dbe9f8, #fcefee, #ffffff);
    color: #333;
}

h3 {
    font-size: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 90px;
}

.button-container-sixImage {
    display: flex; /* Flexbox 컨테이너로 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
    gap: 10px; /* 이미지 버튼 사이의 간격 (원하는 만큼 설정) */
    flex-wrap: wrap; /* 줄 바꿈을 허용 */
}

.image-button-sixImage {
    position: relative;
    pointer-events: auto; /* 버튼 요소에 클릭 이벤트 설정 */
    cursor: pointer; /* 마우스 포인터를 클릭 가능하게 변경 */

    width: 200px; /* 버튼 너비 설정 */
    height: 200px; /* 버튼 높이 설정 */
}


.image-button-sixImage img {
    display: inline-block; /* 이미지를 블록 요소로 설정하여 다른 요소와 겹치지 않도록 함 */
    width: 200px; /* 이미지 너비 */
    height: auto; /* 이미지 높이 자동 조정 */
    border-radius: 8px; /* 둥근 모서리 */
    overflow: hidden; /* 버튼 요소의 경계를 넘어가는 클릭 이벤트 방지 */
    border: 2px solid #000; /* 테두리를 진한 검은색으로 설정 */
    background-color: #fff; /* 배경색을 흰색으로 설정 */
    margin-bottom: 50px; /* 아래쪽 여백 조정 */
    margin-top: 20px; /* 위쪽 여백 조정 */
    margin-left: 0px; /* 오른쪽 여백 조정 */
}



